
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vertex?schema=public"

AUTH_SECRET="your-generated-random-auth-secret-string-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"

AUTH_GOOGLE_ID="410761622061-rt3h6r8jr71p4q21jbcefg0up3u3l8ce.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET=""

AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

AUTH_LINKEDIN_ID=""
AUTH_LINKEDIN_SECRET=""

EMAIL_SERVER_HOST="smtp.example.com"
EMAIL_SERVER_PORT="587"
EMAIL_SERVER_USER="apikey"
EMAIL_SERVER_PASSWORD="your-smtp-password"
EMAIL_FROM="noreply@vertex.app"
